.contact {
    font-size: 18px;
    border: 2px solid black;
    border-radius: 5px;
    width: 320px;
    height: 82px;
    margin-bottom: 15px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon {
    margin-right: 10px;
}

.date {
    display: flex;
    flex-direction: column;
}

.dateValue {
    display: flex;
    align-items: center;
}

.button {
    width: 75px;
    height: 35px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover {
    background-color: #ff6666;
    animation: pulse 1.5s infinite;
    color: white;
    border-color: #ff0000;
}